# Banco de dados local e outras configs sensíveis
/data/
# Tokens do bot e outras configs do Discord
.env
# Dependencias instaladas
node_modules/
# Arquivos de log
*.log
# Arquivos temporários do neovim
*.swp
.*.swp